html, img, section, section, header{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #303030;
}

.header{ 
    display: flex;
    align-items: center;
}
.logo{
    padding: 0.5rem;
}
.botoes{
    margin-left: 80rem;
    width: 18rem;
    display: flex;
    justify-content:space-between;
}
.buttonHome{
    font-size: 2.5rem;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.buttonHome:hover{
    font-size: 2.7rem;
    transition: transform 0.5s ease;
}
.buttonAbout{
    font-size: 2.5rem;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.buttonAbout:hover{
    font-size: 2.7rem;
    transition: transform 0.5s ease;
}
.botaoLanguage{                                       /* <-- terá que corrigir esse botão */
    border: 10px solid transparent;
    padding-left: 2rem;
}
.linha{
    background-color: #ffffff; 
    height: 0.2rem;
}
.titulo{
    color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6rem;
        margin-top: 3rem;
}
.textImg {
    color: #ffffff;
    display: flex;
}
.text{
    font-family:monospace;
    text-align: left;
    font-size: 37px;
    padding-top: 2rem;
}
.img{
    border-radius: 10px;
}
.footer{
    margin-top: 1rem;
    color: #ffffff;
}